<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <link href="https://fonts.googleapis.com/css?family=VT323" rel="stylesheet">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
        <link rel="stylesheet" href="css/style.css">
        <title>Prezado 0,0</title>
    </head>
    <body id="body">


            <h1>Prezado 0.0</h1>
            <br>
            <div id="menu">
                <button onclick="login('entrar')" id="btn-entrar"> Entrar</button>
                <button onclick="login('cadastrar')" id="btn-cadastrar"> Cadastrar</button>

            </div>


            <script type="text/javascript" src="js/script.js"></script>


    </body>
</html>
